---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>

        <div class="excerpt">
          {{ post.excerpt }}
          <a href="{{ post.url | prepend: site.baseurl }}">read more</a>
        </div>
      </li>
    {% endfor %}
  </ul>

  <div class="pagination">
    {% if paginator.previous_page %}
      <div class="previous">
        <a href="{{ paginator.previous_page_path }}">Newer posts...</a>
      </div>
    {% else %}
      <div class="previous">
        Newer posts...
      </div>
    {% endif %}
    {% if paginator.next_page %}
      <div class="next">
        <a href="{{ paginator.next_page_path }}">Older posts...</a>
      </div>
    {% else %}
      <div class="next">
        Older posts...
      </div>
    {% endif %}
  </div>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
