.post {
  & > p > code {
    white-space: nowrap;
  }

  padding: 3rem 0;

  &-info {
    color: $default-tint;
    font-family: $palatino;
    letter-spacing: .5px;
    text-align: center;

    span {
      font-style: italic;
    }
  }

  &-title {
    color: $default-shade;
    font-family: $sans-font;
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  &-line {
    border-top: .2rem solid $default-shade;
    display: block;
    margin: 0 auto 3rem;
    width: 2rem;
  }

  p {
    margin-bottom: 1rem;
  }

  a:hover {
    text-decoration: underline;
  }

  a > code {
    color: inherit;
  }
}
