---
layout: default
---

<div class="category">
  <h1 class="category-title">{{ page.title }}</h1>
  <h1 class="category-description">{{ page.description }}</h1>
</div>

<div class="catalogue">
  {% for post in site.categories[page.tag] %}
    <a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">
      <div>
        <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%B %d, %Y" }}</time>
        <h1 class="catalogue-title">{{ post.title }}</h1>
        <div class="catalogue-line"></div>

        <p>
          {{ post.excerpt | strip_html }}
        </p>
      </div>
    </a>
  {% endfor %}
</div>
